.custom-navbar {
    background-color: #212529;
    padding: 15px 0;
}

.navbar-toggler{
    background-color: white;
}

.navbar-brand {
    color: white;
    font-weight: bold;
    font-size: 24px;
}

.navbar-brand:hover{
    color: #ffc800;
}

.nav-link {
    color: white ;
    font-weight: 500;
    margin-left: 20px;
}

.nav-link:hover {
    color: #ffc800 ;
}